C#/EQuipu/EQuipu/Service References/EQuipuService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" />
  <xs:element name="ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sexo" type="q1:char" />
        <xs:element minOccurs="0" name="selected" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoPucp" type="xs:int" />
        <xs:element minOccurs="0" name="craest" type="xs:double" />
        <xs:element minOccurs="0" name="codigoProf" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dedicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMiembroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sexo" type="q2:char" />
        <xs:element minOccurs="0" name="selected" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoPucp" type="xs:int" />
        <xs:element minOccurs="0" name="craest" type="xs:double" />
        <xs:element minOccurs="0" name="codigoProf" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dedicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMiembroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMiembroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ObtenerMiembroResult" nillable="true" type="q3:Miembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMiembroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="BuscarMiembroResult" nillable="true" type="q4:ArrayOfMiembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMiembros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMiembrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ObtenerMiembrosResult" nillable="true" type="q5:ArrayOfMiembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMiembroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="interes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEquipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="CrearEquipoResult" nillable="true" type="q6:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="objEquipo" nillable="true" type="q7:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEquipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEquipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ObtenerEquipoResult" nillable="true" type="q8:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEquipoConId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEquipoConIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ObtenerEquipoConIdResult" nillable="true" type="q9:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroEquipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroEquiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroEquiposResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEquipos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEquiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="BuscarEquiposResult" nillable="true" type="q10:ArrayOfEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEquipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEquiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ObtenerEquiposResult" nillable="true" type="q11:ArrayOfEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEquiposPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEquiposPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="BuscarEquiposPorNombreResult" nillable="true" type="q12:ArrayOfEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="objEquipo" nillable="true" type="q13:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEquipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMiembroAEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="e" nillable="true" type="q14:Equipo" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="m" nillable="true" type="q15:Miembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMiembroAEquipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreEquipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEquipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEquipoAEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="e" nillable="true" type="q16:Evento" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="q" nillable="true" type="q17:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEquipoAEventoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarExposicionAEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="e" nillable="true" type="q18:Evento" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ex" nillable="true" type="q19:Exposicion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarExposicionAEventoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEventos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEventosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ObtenerEventosResult" nillable="true" type="q20:ArrayOfEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numEntradas" type="xs:int" />
        <xs:element minOccurs="0" name="precioEntradas" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="CrearEventoResult" nillable="true" type="q21:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="objEvento" nillable="true" type="q22:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEventoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ObtenerEventoResult" nillable="true" type="q23:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEventos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEventosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="BuscarEventosResult" nillable="true" type="q24:ArrayOfEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEventosPorCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEventosPorCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="BuscarEventosPorCategoriaResult" nillable="true" type="q25:ArrayOfEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="objEvento" nillable="true" type="q26:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEventoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreEvento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEventoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFerias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFeriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ObtenerFeriasResult" nillable="true" type="q27:ArrayOfFeria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFeriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="ObtenerFeriaResult" nillable="true" type="q28:Feria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearFeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearFeriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="CrearFeriaResult" nillable="true" type="q29:Feria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarFeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="objFeria" nillable="true" type="q30:Feria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarFeriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEquipoAFeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="f" nillable="true" type="q31:Feria" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="e" nillable="true" type="q32:Equipo" />
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEquipoAFeriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarFeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EQuipuWCFLibrary.Modelo" minOccurs="0" name="objFeria" nillable="true" type="q33:Feria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarFeriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>